@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: 
       url('Montserrat/Montserrat-Regular.ttf') format('ttf')
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: 
       url('Montserrat/Montserrat-Light.ttf') format('ttf')
}
@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: 
       url('/public/fonts/Raleway/Raleway-Regular.ttf') format('ttf')
}
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: 
       url('/public/fonts/Raleway/Raleway-Medium.ttf') format('ttf')
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: 
       url('/public/fonts/Raleway/Raleway-SemiBold.ttf') format('ttf')
}
@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: 
       url('/public/fonts/Raleway/Raleway-Bold.ttf') format('ttf')
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  src: 
       url('/public/fonts/Raleway/Raleway-ExtraBold.ttf') format('ttf')
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: 
       url('/public/fonts/Roboto/Roboto-Regular.ttf') format('ttf')
}